<div ng-controller="chatsCtrl as chats">
    <ftree-header></ftree-header>
    <div class="row "  ng-repeat="session in chats.sessionList" style="background-color: ghostwhite">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img class="img-circle" height="40px" ng-src="{{session.user.profile}}"/>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <div>
                {{session.user.name}}
            </div>
            <div>
                {{session.lastmessage}}
            </div>
            <hr>
        </div>
    </div>
</div>