<div  ng-controller="familyCtrl as family">
<ftree-header></ftree-header>
<div class="row content">
    <div class="col-md-4 col-sm-4 col-xs-4 content">
        <img class="img-circle" ng-src="../static/profile.jpg"/>
        <div>
            <div>
                {{family.user.name}}
            </div>
            <div>
                <a  id="addNewMember" class="btn btn-info btn-sm" ng-click="addNewMember()">Add</a>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-5">
        <ul class="nav nav-list">
            <li>
                <ul class="nav nav-list tree">
                    <li>Father:{{family.user.father.name}}</li>
                    <li>Monther:{{family.user.mother.name}}</li>
                    <li>Couple:{{family.user.couple.name}}
                    <li>Childrens:
                                <ul class="nav nav-list tree">
                                    <li ng-repeat="children in family.user.childrens">{{child.name}}</li>
                                </ul></li>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</div>
