<div class="menuTab" role="group">
    <div class="row">
        <div class="col-md-15 col-sm-15  col-xs-15 tab">
            <a href="#/home"> <div><i class="fa fa-home" aria-hidden="true"></i></div><div>Home</div></a>
        </div>
        <div class="col-md-15 col-sm-15  col-xs-15 tab">
            <a href="#/myfamily"> <div><i class="fa fa-users" aria-hidden="true"></i></div>  <div>Family</div></a>
        </div>
        <div class="col-md-15 col-sm-15 col-xs-15 tab">
            <a href="#/friends?friendlist=true"> <div><i class="fa fa-users" aria-hidden="true"></i></div><div>Friends</div></a>
        </div>
        <div class="col-md-15 col-sm-15 col-xs-15 tab">
            <a href="#/chats"><div><i class="fa fa-user-plus" aria-hidden="true"></i></div><div>Message</div></a>
        </div>
        <div class="col-md-15 col-sm-15 col-xs-15 tab">
            <a href="#/settings"><div><i class="fa fa-cog" aria-hidden="true"></i></div><div>Setting</div></a>
        </div>
    </div>
</div>