<div class="title">
    <span>{{title}}</span>
</div>
<div class="content" ng-controller="friendsCtrl as friends">
    <div class="row"  ng-repeat="friend in friends.friendList" style="background-color: ghostwhite">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img class="img-circle" height="40px" src="{{friend.profile}}"/>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <div>
                {{friend.name}}
            </div>
            <div>
                {{friend.position}}
            </div>
            <hr>
        </div>
    </div>
</div>