<div  ng-controller="friendsCtrl as friends">
    <ftree-header></ftree-header>
    <div class="row"  ng-repeat="friend in friends.friendList" style="background-color: ghostwhite">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <img class="img-circle" height="40px" src="{{friend.profile}}"/>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <div>
                {{friend.name}}
            </div>
            <div>
                {{friend.position}}
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <div ng-if="friends.shouldShowOutgoing">
            <a class="btn btn-warning btn-sm" ng-click="search.showSearch(0)">
                加为好友
            </a>
        </div>
        <div ng-if="friends.shouldShowRequest">
            <a class="btn btn-warning btn-sm">
                同意
            </a>
            <a class="btn btn-warning btn-sm">
                拒绝
            </a>
        </div>
        </div>
        <hr>
    </div>
</div>