/* app css stylesheet */

body {
    background: rgb(246, 245, 250);
}



.mockScreen{
    overflow-x: hidden;
}



.img-circle {
    border-radius: 50%;
}



.center{
  position: absolute;
  border-radius: 1em;
  padding: 1em;
  top: 50%;
  left: 9%;
  margin-right: -50%;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.menuTab {
    /*position: absolute;*/
    /*bottom: 0;*/
    background-color: gainsboro;
    /*height: 10%;*/
    /*overflow: hidden;*/
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}


.title{
    font-size: 30px;
    text-align: center;
    background-color: #00b38b;
    color: snow;
}


.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.text {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}


.tab {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}


.content{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.nav-list{
    margin-left: 20px;
}
