/* app css stylesheet */
body {
  background: white
}

.mockScreen{
  background: white;
  border-radius: 1em;
  border: 20px solid black;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  width:275px;
  height: 500px;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
